.unit-container {
  width: 250px;
  height: 350px;
  border: solid 1px gray;
  display: flex;
  flex-direction: column;
  margin: 5px;
  cursor: pointer;
}


.unit-metadata {
  padding: 15px 10px 5px;
}

.title {
  font-size: 18px;
  color: dodgerblue;
  margin-bottom: 20px;
  min-height: 42px;
}

.address {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 10px;
  min-height: 42px;
}

.metadata {
  display: flex;
  flex-wrap: wrap;
  font-size: 14px;
}

.metadata > div {
  width: 50%;
}
