<div [routerLink]="['/detail', unit.id]" class="unit-container">
  <img [src]="unit.teaserImageUrl" />
  <div class="unit-metadata">
    <div class="title">
      {{ unit.title }}
    </div>
    <div class="address">
      {{ unit.address | addressSerializer }}
    </div>
    <div>
      rooms:
      {{ unit.details?.numberOfRooms }}
    </div>
    <div>
      size:
      {{ unit.details?.size }} {{ unit.localization?.areaUnit }}
    </div>
    <div>
      floor:
      {{ unit.details?.floor }}
    </div>
    <div>price: {{ unit.localization?.currency }}</div>
  </div>
  <div>
    <span class="icon is-small">
      <i class="fas fa-heart" aria-hidden="true"></i>
    </span>
  </div>
</div>
